
%html
  %head
    %link{:href => "/application.css", :rel => "stylesheet"}
      %title Skill Inventory
  %body
    .container
      = yield
      %footer#footer
        %p Posted by: Michelle Golle
        %p
          %a{:href => "https://github.com/MichelleGolle", :target => "_blank"}
            Github
