%form{:action => "/skills", :method => "post"}
  %p Enter a new skill:
  %input{:name => "skill[title]", :type => "text"}/
  %br/
  %textarea{:name => "skill[description]"}
  %br/
  %input{:type => "submit"}/
